<div class="test-page-layout" fxLayout.sm="column" fxLayout.md="column" *ngIf="hasInstructionsRead">
    <app-student-details></app-student-details>
    <app-test-questions  (answerMarked)="answerMarked()"></app-test-questions>
    <app-response (questionClicked)="questionClicked()"></app-response>
</div>
<div *ngIf="!hasInstructionsRead" fxLayout="column" class="instruction-class">
        <!-- <p>
        Do's
        GENERAL GUIDELINES
        Make sure you are signed in with your Email/ Phone Number and Password and you have downloaded the test.
        Ensure that the battery in your device is sufficiently charged for serving 3 hrs before starting the test.
        We recommend your device is on charging mode during the test.
        Make sure you are on Airplane mode before starting the test to avoid disturbance.
        Please ensure you sync to the internet to see your result and score improvement report.
        While taking the testMake sure you begin the test with a plan. Start with your strongest section.
        Go through the entire paper and attempt the questions you know first.
        Make sure you save at least 20-30 mins in the end to revisit your answers. 
        In an online test, you can change your answer at any time.
        Don'ts
        GENERAL GUIDELINES
        Don’t change the date and time of the device in between the test otherwise, it will get auto-submitted.
        Don't switch to Web or app for the same test once you started in the current app.
        Don’t submit the test before time. Try to use the entire duration of the test wisely.
        While taking the testDon't lock the device, close the app or switch to a different app during the test duration. 
        The test will auto-submit if you go out of this app or lock the device for more than 60 seconds.Avoid making careless mistakes. 
        Spend a reasonable amount of time to carefully read every question and solve.
        Don’t attempt questions you don’t know or understand how to solve. 
        The test has negative marking.Also, don’t waste time on questions you know you can’t solve. 
        This will greatly reduce time wastage in your attempt.
    </p> -->
    <div>
        <p>All The Best!!</p>
        <button mat-button mat-raised-button color="primary" (click)="startTest()">START TEST</button>
    </div>    
</div>