<div class="page-layout" fxLayout="column">
    <p class="text-center text-header">Your Tests</p>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="NOT STARTED">
            <div class="flex-wrap" fxLayout="row" *ngIf="notStartedTests">
                <div *ngFor="let testObj of notStartedTests" fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-card class="student-card" fxFlex="100">
                        <mat-card-header>
                            <mat-card-title>{{testObj.testName}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p><span fxFlex="30">Test Starts At:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.testStartTime}}</span></p>
                            <p><span fxFlex="30">Test Ends At:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.testEndTime}}</span></p>
                            <p><span fxFlex="30">Classroom:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.classroomName }}</span></p>
                            <p><span fxFlex="30">Duration:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{((testObj.duration)/60).toFixed(2) }} min</span></p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button color="primary" fxFlex="40" [disabled]="!testObj.enableStartTestButton"
                                (click)="redirectToTest(testObj.testId,testObj.duration,testObj.testResultId, testObj.testStatus,testObj.testName)">START
                                TEST</button>
                            <countdown fxFlex="20" style="padding-top:7px" [config]="{leftTime: testObj.countDown}"
                                *ngIf="testObj.countDown" (event)="fireEvent($event,testObj)"></countdown>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="IN PROGRESS">
            <div class="flex-wrap" fxLayout="row" *ngIf="inProgressTests.length > 0">
                <div *ngFor="let testObj of inProgressTests" fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-card class="student-card" fxFlex="100">
                        <mat-card-header>
                            <mat-card-title>{{testObj.testName}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p><span fxFlex="30">Test Starts At:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.testStartTime}}</span></p>
                            <p><span fxFlex="30">Test Ends At:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.testEndTime}}</span></p>
                            <p><span fxFlex="30">Classroom:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.classroomName }}</span></p>
                            <p><span fxFlex="30">Duration:</span><span fxFlex="3"></span><span
                                    fxFlex="65">{{((testObj.duration)/60).toFixed(2) }} min</span></p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button color="primary" fxFlex="40"
                                (click)="redirectToTest(testObj.testId,testObj.duration,testObj.testResultId, testObj.testStatus, testObj.testName)">START
                                TEST</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="COMPLETED">
            <div class="flex-wrap" fxLayout="row" *ngIf="completedTest.length > 0">
                <div *ngFor="let testObj of completedTest" fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-card class="student-card" fxFlex="100">
                        <mat-card-header>
                            <mat-card-title>{{testObj.testName}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p><span fxFlex="30">Test Starts At</span>:<span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.testStartTime}}</span></p>
                            <p><span fxFlex="30">Test Ends At</span>:<span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.testEndTime}}</span></p>
                            <p><span fxFlex="30">Classroom</span>:<span fxFlex="3"></span><span
                                    fxFlex="65">{{testObj.classroomName }}</span></p>
                            <p><span fxFlex="30">Duration</span>:<span fxFlex="3"></span><span
                                    fxFlex="65">{{(testObj.duration)/60 }} min</span></p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button color="primary" fxFlex="50"
                                (click)="showResult(testObj.testResultId)">SEE RESULT</button>
                            <button mat-button color="primary" fxFlex="50" [disabled]="!testObj.showResultAfterTest">SEE
                                PAPER</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>