<div class="test-question-page-layout" fxLayout="column" fxFlex="100">

    <div *ngIf="this.studentTestService.currentQuestionObj" class="question-section">
        <mat-card *ngIf="isLoading" style="display: flex;justify-content: center; align-items: center;">
            <mat-progress-spinner color="primary" mode="inderminate"></mat-progress-spinner>
        </mat-card>
        <div>
            <p>({{this.studentTestService.currentQuestionNumber+1}})
                {{this.studentTestService.currentQuestionObj.content}}?</p>
        </div>

        <form [formGroup]="form" >
            <div *ngIf="this.studentTestService.currentQuestionObj.questionType==1; else radioGroup">
                <div *ngFor="let data of this.studentTestService.currentQuestionObj.optionvalue; let i=index">
                    <label>
                        <input type="checkbox"  [value]="data.id" (change)="onCheckboxChange($event)" />
                        {{data.optionvalue}}
                    </label>
                </div>
            </div>


            <ng-template #radioGroup>
                <mat-radio-group formControlName="selectedOption" aria-labelledby="example-radio-group-label"
                    class="example-radio-group">
                    <mat-radio-button class="example-radio-button"
                        *ngFor="let data of this.studentTestService.currentQuestionObj.optionvalue; let i=index"
                        [value]="data.id">
                        {{data.optionvalue}}
                    </mat-radio-button>
                </mat-radio-group>
            </ng-template>
        </form>
    </div>

    <div class="button-layout" fxLayoutAlign="stretch">
        <button mat-button mat-raised-button fxFlex="20" type="submit" (click)="saveAndNext()"
            class="save-and-next-button">SAVE &
            NEXT</button>
        <button mat-button mat-raised-button fxFlex="30" (click)="saveAndMArkForReview()"
            class="save-and-mark-button">SAVE & MARK FOR REVIEW</button>
        <button mat-button mat-raised-button fxFlex="20" (click)="clearResponse()">CLEAR RESPONSE</button>
        <button mat-button mat-raised-button color="primary" fxFlex="30" (click)="markForReviewAndNext()">MARK FOR
            REVIEW & NEXT</button>
    </div>

    <div class="button-layout" fxLayout="row" fxLayoutAlign="stretch">
        <button mat-button mat-raised-button fxFlex="15" (click)="back()">BACK</button>
        <button mat-button mat-raised-button fxFlex="20" (click)="next()">NEXT</button>
    </div>

</div>