<mat-toolbar class="toolbar primary" *ngIf="this.appService.isSignedIn && router.url !== '/test'">
    <div fxFlex="80">ACHARYA ACADEMY BARAMATI</div>
    <button fxFlex="10" fxFlexOffset="60" mat-button [matMenuTriggerFor]="afterMenu"><span class="material-icons">
            expand_more
        </span></button>
    <!-- <span class="material-icons">
            menu
            </span> -->
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <p mat-menu-item>student name</p>
        <button mat-menu-item (click)="logout()"> Logout</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>