<mat-toolbar class="toolbar primary" *ngIf="this.appService.isSignedIn && !checkRouterUrl()" fxLayout="row">
    <div>ACHARYA ACADEMY BARAMATI</div>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="afterMenu"><span class="material-icons">
        account_circle
        </span></button>
    <!-- <span class="material-icons">
            menu
            </span> -->
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <p mat-menu-item>student name</p>
        <button mat-menu-item (click)="logout()"> Logout</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>