.response-layout {
    padding: 20px;
    height: calc(100vh-64px);
    height: -webkit-calc(100vh - 64px);
    .save-and-next-button {
        background-color: #5eb456;
        color: white;
        font-size: 12px;
    }

    .save-and-mark-button {
        background-color: #e29314;
        color: white;
        font-size: 12px;
    }

    .mat-button {
        font-size: 12px;
        margin-right: 7px;
    }
    .trapezoid-class-red {
        border-left: 40px solid red;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        height: 15px;
        background: white;
        float: left;
        margin: 0;
    }
    .trapezoid-class-green {
        border-left: 40px solid #5eb456;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        height: 15px;
        background: white;
        float: left;
        margin: 0;
    }
    .show-number-on-border {
        position: relative;
        top: 8px;
        left: -25px;
    }
    .text-inside {
        position: relative;
        left: 0px;
    }
    .response-details-class {
        width: 225px;
        height:100px;
        font-size: 12px;
        div:not(:last-child) {
            float: left;
            width: 50%;
        }
    }
    .question-number-class {
        height: 200px;
        width: 225px;
        float: right;
    }
    .question-number-button {
        height: 30px;
        width: 30px;
        background-color: #ebf2e8;
        border: 1px solid #b9bcb1;
        border-radius: 4px;
        text-align: center;
        margin: 0 !important;
        float: left;
        span {
            top: 3px;
            position: relative;
        }
    }    
    .marked-for-review-class {
        background-color: #4d1799;
        border-radius: 30px;
        color: white;
        span {
            top: 5px;
        }
    }
    .button-layout{
        padding-top: 75px;
        width: 100%;
    }
}

.marked-for-review-class::after {
    background-color: green;
    width:2px;
}