<div class="response-layout">
    <div class="response-details-class">
        <div> <p class="question-number-button"><span>49</span></p><span>Not Visited</span></div>
        <div><p class="trapezoid-class-red"></p><span class="show-number-on-border">1</span><span class="text-inside">Not Answered</span></div>
        <div><p class="trapezoid-class-green"></p><span class="show-number-on-border">1</span><span class="text-inside">Not Answered</span></div>
        <div> <p class="question-number-button marked-for-review-class"><span>0</span></p><span>Marked For Review</span></div>
        <div> <p class="question-number-button marked-for-review-class"><span>0</span></p><span>Answered & Marked For Review (will be considered for evaluation)</span></div>
        <!-- <p class="trapezoid-class"></p><span class="show-number-on-border">1</span><span class="text-inside">Answered</span>
        <p class="trapezoid-class"></p><span class="show-number-on-border">1</span><span class="text-inside">Answered</span>
        <p class="trapezoid-class"></p><span class="show-number-on-border">1</span><span class="text-inside">Answered</span> -->
    </div>

    <div class="question-number-class">
       
        <p *ngFor="let questionNumber of totalQuestions" class="question-number-button"><span>{{questionNumber}}</span></p>
    </div>
    <div class="button-layout">
        <button mat-button mat-raised-button fxFlex="12" class="save-and-next-button">SAVE & NEXT</button>
        <button mat-button mat-raised-button fxFlex="14" class="save-and-mark-button">SAVE & MARK FOR REVIEW</button>
        <button mat-button mat-raised-button fxFlex="10">CLEAR RESPONSE</button>
        <button mat-button mat-raised-button color="primary" fxFlex="14">MARK FOR REVIEW & NEXT</button>
    </div>
</div>