.response-layout {
    // padding: 20px;
    // height: calc(100vh-64px);
    // height: -webkit-calc(100vh - 64px);
    // padding: 0 150px;
    // width: 30%;
    padding-right: 130px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
    overflow: scroll;

    .response-section {
        float: right;
        width: 100%;
        .response-details-class {
            width: 100%;
          //  height: 120px;
            font-size: 12px;
            div:last-child {
                float: left;
                width: 100%;
            }
            .width-50 {
                float: left;
                width: 50%;
            }
        }

        .question-number-class {
         //   height: 200px;
            width: 100%;
        }
    }

    .question-number-button {
        height: 30px;
        width: 30px;
        background-color: #ebf2e8;
        border: 1px solid #b9bcb1;
        border-radius: 4px;
        margin: 0 3px 0 0 !important;
        float: left;
        cursor:pointer;
        span {
            position: relative;
            top: 6px;
            left: 6px;
        }
    }

    .marked-for-review-class {
        height: 30px;
        width: 30px;
        background-color: #4d1799;
        border-radius: 30px;
        color: white;
        margin: 0 3px 0 0 !important;
        float: left;
        cursor:pointer;
        span {
            top: 5px;
            left: 10px;
            position: relative;
        }
    }
    .answered-and-marked-for-review-class {
        height: 30px;
        width: 30px;
        background-color: #4d1799;
        border-radius: 30px;
        color: white;
        margin: 0 3px 0 0 !important;
        float: left;
        cursor:pointer;
        span {
            top: 5px;
            left: 0px;
            position: relative;
        }
        & > p {
            background-color: #1efc0a;
            height: 10px;
            width: 10px;
            border-radius: 10px;
            margin: 0;
            float: left;
            position: relative;
            left: 19px;
            top: 16px;
        }
    }

    .not-answered-class {
        border-left: 30px solid red;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        height: 12px;
        background: white;
        width: 0px;
        float: left;
        margin: 0 3px 0 0;
        cursor:pointer;
        & > span {
            position: relative;
            top: -2px;
            left: -20px;
        }
    }

    .answered-class {
        border-left: 30px solid #5eb456;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        height: 12px;
        background: white;
        float: left;
        margin: 0 3px 0 0;
        width: 0px;
        cursor:pointer;
        & > span {
            position: relative;
            top: -2px;
            left: -20px;
        }
    }

    .span-text {
        position: relative;
        left: 5px;
    }
}
@media screen and (max-width: 1024px) {
    .response-layout {
        padding-right: 0 !important;
        margin-left: 0.5em;
        .response-details-class {
            margin-top: 2em;
        }
    }
}