<div class="response-layout">
    <div class="response-section">
        <div class="response-details-class">
            <div class="width-50">
                <p class="question-number-button">
                    <span>49</span>
                </p>
                <span class="span-text">Not Visited</span>
            </div>
            <div class="width-50">
                <p class="not-answered-class">
                    <span>1</span>
                </p>
                <span class="span-text">Not Answered</span>
            </div>
            <div class="width-50">
                <p class="answered-class">
                    <span>1</span>
                </p>
                <span class="span-text">Answered</span>
            </div>
            <div class="width-50">
                <p class="marked-for-review-class">
                    <span>0</span>
                </p>
                <span class="span-text">Marked For Review</span>
            </div>
            <div>
                <div class="answered-and-marked-for-review-class">
                    <span>0</span>
                    <p></p>
                </div>
                <span class="span-text">Answered & Marked For Review (will be considered for evaluation)</span>
            </div>
        </div>

        <div class="question-number-class">
            <div *ngFor="let questionNumber of totalQuestions" class="question-number-button">
                <span>{{questionNumber}}</span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="button-layout">
        <button mat-button mat-raised-button fxFlex="12" class="save-and-next-button" (click)="saveAndNext()">SAVE &
            NEXT</button>
        <button mat-button mat-raised-button fxFlex="14" class="save-and-mark-button"
            (click)="saveAndMArkForReview()">SAVE & MARK FOR REVIEW</button>
        <button mat-button mat-raised-button fxFlex="10" (click)="clearResponse()">CLEAR RESPONSE</button>
        <button mat-button mat-raised-button color="primary" fxFlex="14" (click)="markForReviewAndNext()">MARK FOR
            REVIEW & NEXT</button>
    </div>
</div>