.student-details-layout {
    height: 30vh;
    .student-wrapper {
        padding: 0 150px;
        box-sizing: border-box;
    }
    .student-details-class {
        float: right;
        width: 30%;

        div {
            width: 100%;
        }
    }

    .section-class {
        width: 100%;
        float: left;
        height: 70px;
        background-color: orange;
    }
}