<div class="student-details-layout">
    <!-- <div>Img</div> -->
    <div class="student-wrapper">
        <div class="student-details-class" fxLayout="column" fxFlex="30" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="100" fxLayoutAlign="end none" fxFlexOffset="70" fxFlexOffset.sm="0" fxFlexOffset.md="0" fxFlexOffset.xs="0">
            <div fxFlex="100">
                <p fxFlex="35">Candidate Name</p>:<span fxFlex="2"></span> <p fxFlex="60">{{currentUser.name}}</p>
            </div>
            <div fxFlex="100">
                <p fxFlex="35">Batch Name</p>:<span fxFlex="2"></span><p fxFlex="60">{{studentTestService.currentTestName}}</p>
            </div>
            <div fxFlex="100">
                <p fxFlex="35">Remaining Time</p>:<span fxFlex="2"></span>
                 <countdown fxFlex="20" [config]="{leftTime: testDuration}" (event)="fireEvent($event)"></countdown>
                <button mat-button color="warn" fxFlex="30" class="float-right"(click)="confirmSubmitTest()" mat-raised-button>Submit</button>
            </div>
        </div>
    </div>
    <div class="section-class">
        <!-- <p class="float-right">DOWNLOAD PAPER IN</p>
        <button mat-button color="primary" class="float-right" mat-raised-button>DOWNLOAD</button> -->
    </div>
</div>
<ng-template #confirmationDialog>
    <h2 mat-dialog-title class="primary">Submit Test</h2>
    <mat-dialog-content>
        Are you sure you want to end the test?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose="no" fxFlex="25">No</button>
        <button mat-button color="primary" matDialogClose="yes" mat-raised-button fxFlex="30">Yes</button>
    </mat-dialog-actions>
</ng-template>